@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
}

.nav {
  display: none;
}

@media screen and (min-width: 688px) and (max-width: 1200px) {
  .nav {
    display: block;
  }
  .nav-checkbox {
    display: none;
  }
  .nav-button {
    background-color: #883fff;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 2000;
    top: 4px;
    right: 20px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
  }
  .nav-bg {
    background-image: radial-gradient(#883fff, #37ffa9);
    position: fixed;
    z-index: 1000;
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20px;
    border: 2px;
    transition: all 0.8s;
  }
  .nav-checkbox:checked ~ .nav-bg {
    transform: scale(80);
  }
  .nav-icon {
    position: relative;
    margin-top: 3rem;
  }
  .nav-icon, .nav-icon:before, .nav-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
  }
  .nav-icon:before, .nav-icon::after {
    content: "";
    position: absolute;
    transition: all 0.2s;
    left: 0;
  }
  .nav-icon:before {
    top: -0.8rem;
  }
  .nav-icon::after {
    top: 0.8rem;
  }
  .nav-button:hover .nav-icon:before {
    top: -1rem;
  }
  .nav-button:hover .nav-icon:after {
    top: 1rem;
  }
  .nav-checkbox:checked ~ .nav-button .nav-icon {
    background-color: transparent;
  }
  .nav-checkbox:checked ~ .nav-button .nav-icon:before {
    top: 0;
    transform: rotate(135deg);
  }
  .nav-checkbox:checked ~ .nav-button .nav-icon:after {
    top: 0;
    transform: rotate(-135deg);
  }
  .nav-body {
    position: fixed;
    top: 0;
    left: -120%;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    transition: all 0.8s;
  }
  .nav-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
  }
  .nav-link:hover {
    color: #894af1;
    background-position: 100%;
    transform: translateX(1rem);
    font-weight: 700;
  }
  .nav-checkbox:checked ~ .nav-body {
    opacity: 1;
    left: 0;
  }
}
@media screen and (max-width: 687px) {
  .nav {
    display: block;
  }
  .nav-checkbox {
    display: none;
  }
  .nav-button {
    background-color: #883fff;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 2000;
    top: 4px;
    right: 20px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
  }
  .nav-bg {
    background-image: radial-gradient(#883fff, #37ffa9);
    position: fixed;
    z-index: 1000;
    width: 55px;
    height: 55px;
    top: 5px;
    right: 20px;
    border: 2px;
    transition: all 0.8s;
  }
  .nav-checkbox:checked ~ .nav-bg {
    transform: scale(80);
  }
  .nav-icon {
    position: relative;
    margin-top: 3rem;
  }
  .nav-icon, .nav-icon:before, .nav-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
  }
  .nav-icon:before, .nav-icon::after {
    content: "";
    position: absolute;
    transition: all 0.2s;
    left: 0;
  }
  .nav-icon:before {
    top: -0.8rem;
  }
  .nav-icon::after {
    top: 0.8rem;
  }
  .nav-button:hover .nav-icon:before {
    top: -1rem;
  }
  .nav-button:hover .nav-icon:after {
    top: 1rem;
  }
  .nav-checkbox:checked ~ .nav-button .nav-icon {
    background-color: transparent;
  }
  .nav-checkbox:checked ~ .nav-button .nav-icon:before {
    top: 0;
    transform: rotate(135deg);
  }
  .nav-checkbox:checked ~ .nav-button .nav-icon:after {
    top: 0;
    transform: rotate(-135deg);
  }
  .nav-body {
    position: fixed;
    top: 0;
    left: -120%;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    transition: all 0.8s;
  }
  .nav-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
  }
  .nav-link:hover {
    color: #894af1;
    background-position: 100%;
    transform: translateX(1rem);
  }
  .nav-checkbox:checked ~ .nav-body {
    opacity: 1;
    left: 0;
  }
}
.popup {
  position: fixed;
  width: min(50%, 500px);
  padding: 5% 2%;
  font-size: 1.8rem;
  line-height: 1.75;
  background-color: #fff;
  border-radius: 15px;
  z-index: 9999;
  top: 15%;
  left: 60%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.popup > span {
  position: absolute;
  background: #924eff;
  border-radius: 10px;
  padding: 1% 2%;
  right: 10%;
  bottom: 10%;
  color: #fff;
  cursor: pointer;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 9999;
  display: flex;
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #883fff;
}
header .ham-nav-fixed {
  display: none;
}
header .nav-fixed {
  display: none;
}
header .burger-button {
  margin-right: 10px;
  display: none;
}
header .logo {
  width: 104px;
  height: 32px;
  position: relative;
  display: block;
}
header .gnb {
  display: flex;
}
header .gnb ul {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 16px;
  padding: 0 20px;
  list-style: none;
}
header .gnb ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  header .gnb {
    display: none;
  }
}
@media screen and (max-width: 687px) {
  header .gnb {
    display: none;
  }
}
header .gnb-2 {
  position: absolute;
  right: 20px;
  display: flex;
  height: 40px;
  line-height: 40px;
}
header .gnb-2 .dep1 a {
  font-size: 16px;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  height: 100%;
  color: #fff;
  font-weight: bold;
}
header .gnb-2 .bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 180px;
  width: 1px;
  height: 14px;
  background: #dddfe0;
}
header .gnb-2 .dep1-1 a {
  font-size: 16px;
  padding: 0 20px;
  color: #fff;
  align-items: center;
  text-decoration: none;
}
header .gnb-2 .login {
  border: solid 2px #fff;
  border-radius: 999px;
}
header .gnb-2 .login a {
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  header .dep1 {
    display: none;
  }
  header .bar {
    display: none;
  }
  header .gnb-2 {
    margin-right: 70px;
  }
}
@media screen and (max-width: 687px) {
  header .dep1 {
    display: none;
  }
  header .bar {
    display: none;
  }
  header .gnb-2 {
    margin-right: 70px;
  }
}

header.on {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  transition: all 0.5s;
}
header.on .nav-button {
  background-color: #fff;
}
header.on .nav-icon, header.on .nav-icon:before, header.on .nav-icon::after {
  background-color: #000000;
}
header.on .ham-nav-fixed {
  position: absolute;
  display: block;
  bottom: 17px;
}
header.on .nav-fixed {
  position: absolute;
  display: block;
  bottom: 0;
}
header.on .gnb li a {
  color: #000000;
  font-weight: 500;
}
header.on .gnb li a:hover {
  color: rgb(146, 78, 255);
  transition: all 0.5s;
}
header.on .gnb-2 .dep1 a {
  color: #000000;
}
header.on .gnb-2 .dep1 a:hover {
  color: rgb(146, 78, 255);
  transition: all 0.5s;
}
header.on .gnb-2 .dep1-1 a {
  color: #000000;
}
header.on .gnb-2 .dep1-1 a:hover {
  color: rgb(146, 78, 255);
  transition: all 0.5s;
}
header.on .gnb-2 .login {
  border: solid 2px #000;
}
header.on .gnb-2 .login a {
  color: #000000;
}
header.on .gnb-2 .login a:hover {
  color: rgb(146, 78, 255);
  transition: all 0.5s;
}
header.on .gnb-2 .login:hover {
  border-color: rgb(146, 78, 255);
  transition: all 0.5s;
}

main {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - 96px);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2) inset;
}
main .main-banner {
  width: 100%;
  background-color: #883fff;
  text-align: center;
  padding-top: 210px;
  position: relative;
}
main .main-banner .border-bottom {
  border-bottom: 2px solid #7b2ede;
  padding-bottom: 150px;
}
main .main-banner span {
  font-size: 40px;
  font-weight: 700;
  color: #37ffa9;
}
main .main-banner .main-banner1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .main-banner .main-banner1 .margin-right {
  position: relative;
  left: -120px;
}
main .main-banner .main-banner1 .height {
  position: relative;
  top: -50px;
}
main .main-banner .main-banner2 {
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .main-banner .main-banner2 .center {
  width: 70%;
}
main .main-banner .main-banner2 .bottom {
  position: relative;
  top: -50px;
}
main .main-banner .main-banner3 {
  display: none;
}
main .main-banner .main-banner4 {
  display: none;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .main-banner .main-banner1,
  main .main-banner .main-banner2 {
    width: 100%;
  }
  main .main-banner span {
    font-size: 30px;
  }
}
@media screen and (max-width: 687px) {
  main .main-banner {
    text-align: start;
  }
  main .main-banner .border-bottom {
    padding-bottom: 80px;
  }
  main .main-banner .main-banner1,
  main .main-banner .main-banner2 {
    display: none;
  }
  main .main-banner span {
    font-size: 20px;
    padding-left: 20px;
  }
  main .main-banner .main-banner3 {
    padding-left: 20px;
    position: absolute;
    top: 300px;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
  main .main-banner .main-banner3 .th {
    position: relative;
    top: 0;
  }
  main .main-banner .main-banner3 .for {
    width: 85%;
    position: relative;
    top: 0;
  }
  main .main-banner .main-banner3 .last {
    width: 60%;
    position: relative;
    top: -70px;
    left: 160px;
  }
  main .main-banner .main-banner4 {
    padding-left: 20px;
    position: absolute;
    top: 320px;
    display: flex;
    opacity: 0;
    flex-direction: column;
  }
  main .main-banner .main-banner4 .one {
    width: 80%;
  }
  main .main-banner .main-banner4 .two {
    position: relative;
    top: 10px;
  }
  main .main-banner .main-banner4 .th {
    position: relative;
    width: 130%;
    top: 30px;
  }
  main .main-banner .main-banner4 .for {
    position: relative;
    top: 50px;
  }
  main .main-banner .main-banner4 .last {
    position: relative;
    width: 110%;
    top: 30px;
  }
}
main .main-banner-bottom {
  width: 100%;
  height: 120px;
  background-color: #924eff;
  padding-top: 36px;
  text-align: center;
}
main .main-banner-bottom span {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .main-banner-bottom {
    height: 88px;
    padding-top: 24px;
  }
  main .main-banner-bottom span {
    font-size: 21px;
  }
}
@media screen and (max-width: 687px) {
  main .main-banner-bottom {
    height: 68px;
    padding-top: 20px;
  }
  main .main-banner-bottom span {
    font-size: 14px;
  }
}
main .section1 {
  background-color: #fafafa;
  width: 100%;
}
main .section1 .section1-img {
  padding-top: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 687px) {
  main .section1 .section1-img {
    padding-top: 55px;
  }
}
main .section1 .section1-text {
  padding-top: 16px;
  text-align: center;
  margin-bottom: 80px;
}
main .section1 .section1-text h1 {
  color: #000000;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.5;
}
main .section1 .section1-text h1 span {
  color: #894af1;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-text h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-text h1 {
    font-size: 34px;
    line-height: 1.2;
    width: 270px;
    margin: auto;
  }
}
main .section1 .section1-text .setion1-sub-text {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-text .setion1-sub-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-text .setion1-sub-text {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-text {
    margin-bottom: 40px;
  }
}
main .section1 .section1-step1 {
  max-width: 1168px;
  height: 330px;
  border-radius: 16px;
  margin: auto;
  box-shadow: 0px 1px 20px 0px rgba(154, 154, 154, 0.12);
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main .section1 .section1-step1 .section1-step1-left {
  width: 468px;
  background-color: #fff;
  border-radius: 16px 0px 0px 16px;
  padding: 40px;
}
main .section1 .section1-step1 .section1-step1-left .step1 {
  width: 70px;
  height: 36px;
  text-align: center;
  line-height: 25px;
  border-radius: 8px;
  background-color: #eee3ff;
  color: #924eff;
  font-weight: 700;
  font-size: 15px;
  padding: 6px 10px;
  margin-bottom: 32px;
}
main .section1 .section1-step1 .section1-step1-left h3 {
  color: #393939;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 8px;
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step1 .section1-step1-left h3 {
    font-size: 24px;
  }
}
main .section1 .section1-step1 .section1-step1-left span {
  color: #393939;
  font-size: 16px;
  line-height: 1.5;
}
main .section1 .section1-step1 .section1-step1-left a {
  margin-top: 32px;
  display: block;
  background-color: #f7f8f9;
  border-radius: 20px;
  width: 123px;
  height: 50px;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}
main .section1 .section1-step1 .section1-step1-left a:hover {
  transition: all 0.5s;
  transform: translate(0, -5px);
  box-shadow: 0px 2px 4px rgba(206, 200, 200, 0.5);
  background-color: #dadfe3;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step1 .section1-step1-left {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step1 .section1-step1-left {
    border-radius: 16px 16px 0px 0px;
    padding: 24px;
    width: 330px;
  }
}
main .section1 .section1-step1 .section1-step1-right {
  width: 700px;
  background-color: #37ffa9;
  background-image: url(../img/practice-1.svg);
  border-radius: 0px 16px 16px 0px;
  padding: 36px 120px;
}
main .section1 .section1-step1 .section1-step1-right .ex {
  position: absolute;
  width: 48px;
  height: 25px;
  line-height: 20px;
  padding: 2px 10px;
  border-radius: 100px;
  top: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.3019607843);
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step1 .section1-step1-right .ex {
    top: 345px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step1 .section1-step1-right .ex {
    top: 305px;
  }
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step1 .section1-step1-right {
    border-radius: 0px 0px 16px 16px;
    height: 327px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step1 .section1-step1-right {
    border-radius: 0px 0px 16px 16px;
    height: 330px;
    width: auto;
    background-image: url(../img/mw-practice-1.svg);
    padding: 50px 30px;
  }
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step1 {
    width: 700px;
    height: 654px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step1 {
    width: 330px;
    height: 607px;
    display: flex;
    flex-direction: column;
  }
}
main .section1 .section1-step2 {
  max-width: 1168px;
  height: 330px;
  border-radius: 16px;
  margin: auto;
  box-shadow: 0px 1px 20px 0px rgba(154, 154, 154, 0.12);
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main .section1 .section1-step2 .section1-step2-left {
  width: 468px;
  background-color: #fff;
  border-radius: 16px 0px 0px 16px;
  padding: 40px;
}
main .section1 .section1-step2 .section1-step2-left .step2 {
  width: 70px;
  height: 36px;
  text-align: center;
  line-height: 25px;
  border-radius: 8px;
  background-color: #eee3ff;
  color: #924eff;
  font-weight: 700;
  font-size: 15px;
  padding: 6px 10px;
  margin-bottom: 32px;
}
main .section1 .section1-step2 .section1-step2-left h3 {
  color: #393939;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 8px;
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step2 .section1-step2-left h3 {
    font-size: 24px;
  }
}
main .section1 .section1-step2 .section1-step2-left span {
  color: #393939;
  font-size: 16px;
  line-height: 1.5;
}
main .section1 .section1-step2 .section1-step2-left a {
  margin-top: 32px;
  display: block;
  background-color: #f7f8f9;
  border-radius: 20px;
  width: 123px;
  height: 50px;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}
main .section1 .section1-step2 .section1-step2-left a:hover {
  transition: all 0.5s;
  transform: translate(0, -5px);
  box-shadow: 0px 2px 4px rgba(206, 200, 200, 0.5);
  background-color: #dadfe3;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step2 .section1-step2-left {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step2 .section1-step2-left {
    border-radius: 16px 16px 0px 0px;
    padding: 24px;
    width: 330px;
  }
}
main .section1 .section1-step2 .section1-step2-right {
  width: 700px;
  background-color: #37ffa9;
  background-image: url(../img/practice-2.svg);
  border-radius: 0px 16px 16px 0px;
  padding: 36px 120px;
}
main .section1 .section1-step2 .section1-step2-right .ex {
  position: absolute;
  width: 48px;
  height: 25px;
  line-height: 20px;
  padding: 2px 10px;
  border-radius: 100px;
  top: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.3019607843);
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step2 .section1-step2-right .ex {
    top: 345px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step2 .section1-step2-right .ex {
    top: 325px;
  }
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step2 .section1-step2-right {
    border-radius: 0px 0px 16px 16px;
    height: 327px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step2 .section1-step2-right {
    border-radius: 0px 0px 16px 16px;
    height: 330px;
    width: auto;
    background-image: url(../img/mw-practice-2.svg);
    padding: 50px 30px;
  }
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step2 {
    width: 700px;
    height: 654px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step2 {
    width: 330px;
    height: 607px;
    display: flex;
    flex-direction: column;
  }
}
main .section1 .section1-step3 {
  max-width: 1168px;
  height: 330px;
  border-radius: 16px;
  margin: auto;
  box-shadow: 0px 1px 20px 0px rgba(154, 154, 154, 0.12);
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
}
main .section1 .section1-step3 .section1-step3-left {
  width: 468px;
  background-color: #fff;
  border-radius: 16px 0px 0px 16px;
  padding: 40px;
}
main .section1 .section1-step3 .section1-step3-left .step3 {
  width: 71px;
  height: 36px;
  text-align: center;
  line-height: 25px;
  border-radius: 8px;
  background-color: #eee3ff;
  color: #924eff;
  font-weight: 700;
  font-size: 15px;
  padding: 6px 10px;
  margin-bottom: 32px;
}
main .section1 .section1-step3 .section1-step3-left h3 {
  color: #393939;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 8px;
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step3 .section1-step3-left h3 {
    font-size: 24px;
  }
}
main .section1 .section1-step3 .section1-step3-left span {
  color: #393939;
  font-size: 16px;
  line-height: 1.5;
}
main .section1 .section1-step3 .section1-step3-left a {
  margin-top: 32px;
  display: block;
  background-color: #f7f8f9;
  border-radius: 20px;
  width: 123px;
  height: 50px;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}
main .section1 .section1-step3 .section1-step3-left a:hover {
  transition: all 0.5s;
  transform: translate(0, -5px);
  box-shadow: 0px 2px 4px rgba(206, 200, 200, 0.5);
  background-color: #dadfe3;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step3 .section1-step3-left {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step3 .section1-step3-left {
    border-radius: 16px 16px 0px 0px;
    padding: 24px;
    width: 330px;
  }
}
main .section1 .section1-step3 .section1-step3-right {
  width: 700px;
  background-color: #37ffa9;
  background-image: url(../img/practice-3.svg);
  border-radius: 0px 16px 16px 0px;
  padding: 36px 120px;
}
main .section1 .section1-step3 .section1-step3-right .ex {
  position: absolute;
  width: 48px;
  height: 25px;
  line-height: 20px;
  padding: 2px 10px;
  border-radius: 100px;
  top: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.3019607843);
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step3 .section1-step3-right .ex {
    top: 345px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step3 .section1-step3-right .ex {
    top: 305px;
  }
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step3 .section1-step3-right {
    border-radius: 0px 0px 16px 16px;
    height: 327px;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step3 .section1-step3-right {
    border-radius: 0px 0px 16px 16px;
    height: 330px;
    width: auto;
    background-image: url(../img/mw-practice-3.svg);
    padding: 50px 30px;
  }
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section1 .section1-step3 {
    width: 700px;
    height: 654px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 687px) {
  main .section1 .section1-step3 {
    width: 330px;
    height: 607px;
    display: flex;
    flex-direction: column;
  }
}
main .section2 {
  width: 100%;
  background: url(../img/challenge-bg.svg);
  background-color: #fafafa;
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .section2 .section2-text {
  text-align: center;
}
main .section2 .section2-text h1 {
  margin-bottom: 14px;
  font-size: 60px;
  color: #000000;
}
main .section2 .section2-text h1 span {
  color: #894af1;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section2 .section2-text h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 687px) {
  main .section2 .section2-text h1 {
    font-size: 34px;
    width: 280px;
    margin: auto;
    padding-bottom: 14px;
  }
}
main .section2 .section2-text .section2-sub-text {
  font-size: 20px;
  color: #333333;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section2 .section2-text .section2-sub-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 687px) {
  main .section2 .section2-text .section2-sub-text {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
}
main .section2 .section2-img {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section2 .section2-img {
    background-size: 70%;
  }
}
@media screen and (max-width: 687px) {
  main .section2 .section2-img {
    background-size: 30%;
  }
}
main .section2 .section2-button {
  width: 320px;
  height: 60px;
  border-radius: 100px;
  background-color: #924eff;
  text-align: center;
  line-height: 60px;
  margin: auto;
}
main .section2 .section2-button a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
main .section2 .section2-button:hover {
  transition: all 0.5s;
  transform: translate(0, -5px);
  box-shadow: 0px 2px 4px rgba(206, 200, 200, 0.5);
}
@media screen and (max-width: 687px) {
  main .section2 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
main .section3 {
  background-color: #fafafa;
  background: url(../img/group-bg.svg);
  width: 100%;
  padding-top: 100px;
}
main .section3 .section3-text {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
main .section3 .section3-text h1 {
  font-size: 60px;
  color: #fff;
}
@media screen and (min-width: 688px) and (max-width: 1200px) {
  main .section3 .section3-text h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 687px) {
  main .section3 .section3-text h1 {
    font-size: 34px;
  }
}
@media screen and (max-width: 687px) {
  main .section3 .section3-text {
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-bottom: 40px;
  }
  main .section3 .section3-text img {
    width: 52px;
    margin: auto;
  }
}
main .section3 .section3-boxs {
  display: flex;
  padding-bottom: 120px;
  gap: 20px;
  justify-content: center;
}
main .section3 .section3-boxs .section3-box1 {
  background-color: #fff;
  display: block;
  border-radius: 10px;
  padding: 10px;
  padding-top: 80px;
  width: 100%;
  max-width: 576px;
  height: 625px;
  box-shadow: 0px 1px 20px 0px rgba(154, 154, 154, 0.12);
}
main .section3 .section3-boxs .section3-box1 .section3-box1-text {
  text-align: center;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-text span {
  font-size: 36px;
  font-weight: 800;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-text p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-img {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button1,
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button2 {
  padding: 12px 16px;
  text-align: center;
  border-radius: 100px;
  background-color: #7125ec;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button1 a,
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button2 a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button1:hover,
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button2:hover {
  transition: all 0.5s;
  transform: translate(0, -5px);
  box-shadow: 0px 2px 4px rgba(206, 200, 200, 0.5);
  background-color: #dadfe3;
}
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button1:hover a,
main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button2:hover a {
  color: #000000;
}
main .section3 .section3-boxs .section3-box2 {
  background-color: #9a5dff;
  display: block;
  border-radius: 10px;
  padding: 10px;
  padding-top: 80px;
  width: 100%;
  max-width: 576px;
  height: 625px;
  box-shadow: 0px 1px 20px 0px rgba(154, 154, 154, 0.12);
}
main .section3 .section3-boxs .section3-box2 .section3-box2-text {
  text-align: center;
  color: #fff;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-text span {
  font-size: 36px;
  font-weight: 800;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-text p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-img {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-buttons .section3-box2-button {
  padding: 12px 16px;
  text-align: center;
  border-radius: 100px;
  background-color: #7125ec;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-buttons .section3-box2-button a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-buttons .section3-box2-button:hover {
  transition: all 0.5s;
  transform: translate(0, -5px);
  box-shadow: 0px 2px 4px rgba(206, 200, 200, 0.5);
  background-color: #dadfe3;
}
main .section3 .section3-boxs .section3-box2 .section3-box2-buttons .section3-box2-button:hover a {
  color: #000000;
}
@media screen and (max-width: 687px) {
  main .section3 .section3-boxs {
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  main .section3 .section3-boxs .section3-box1 {
    width: 330px;
    height: 546px;
    padding-top: 40px;
  }
  main .section3 .section3-boxs .section3-box1 .section3-box1-text span {
    font-size: 26px;
  }
  main .section3 .section3-boxs .section3-box1 .section3-box1-text p {
    font-size: 15px;
  }
  main .section3 .section3-boxs .section3-box1 .section3-box1-buttons {
    flex-direction: column;
    align-items: center;
  }
  main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button1,
  main .section3 .section3-boxs .section3-box1 .section3-box1-buttons .section3-box1-button2 {
    width: 260px;
  }
  main .section3 .section3-boxs .section3-box2 {
    width: 330px;
    height: 498px;
    padding-top: 40px;
  }
  main .section3 .section3-boxs .section3-box2 .section3-box2-text span {
    font-size: 26px;
  }
  main .section3 .section3-boxs .section3-box2 .section3-box2-text p {
    font-size: 15px;
  }
  main .section3 .section3-boxs .section3-box2 .section3-box2-button {
    width: 260px;
  }
}
@media screen and (max-width: 687px) {
  main .section3 {
    padding-top: 50px;
  }
}
main .section4 {
  width: 100%;
  background-color: #181818;
  padding: 100px 0;
}
main .section4 .section4-img {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
main .section4 .section4-text {
  color: rgba(255, 255, 255, 0.5843137255);
  font-size: 20px;
  position: relative;
  text-align: center;
  line-height: 1.5;
}
main .section4 .section4-logo {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}
main .section4 .section4-logo img {
  height: 38px;
}
main .section4 .section4-logo .cross {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
@media screen and (max-width: 687px) {
  main .section4 {
    padding: 20px 16px;
    display: flex;
    flex-direction: column-reverse;
  }
  main .section4 .section4-text {
    margin: 40px 0;
    font-size: 14px;
  }
  main .section4 .section4-text span {
    display: flex;
    flex-direction: column;
  }
}

footer {
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding: 12px 0;
}
footer .footer-text {
  display: flex;
  flex-direction: column;
  color: #8a8f95;
  font-size: 12px;
  line-height: 2;
}
footer .footer-text address {
  display: flex;
  justify-content: center;
  font-style: normal;
  gap: 10px;
}
footer .footer-text address a {
  color: #8a8f95;
  text-decoration: none;
}
footer .footer-text address .white {
  color: #fff;
}/*# sourceMappingURL=index.css.map */