$color-primary-font: #894af1;
$color-primary-back-1:#924eff;
$color-primary-back-2:#883fff;
$color-primary-back-3:#9a5dff;
$color-primary-back-4:#7125ec;
$color-secondary: #37ffa9;
$color-w: #fff;
$color-text-1: #000000;
$color-text-2: #333333;
$color-text-3: #393939;
$color-background-1: #eee3ff;
$color-background-2: #ffffff4d;
$color-background-3: #f7f8f9;
$color-background-4:#181818;
